body{
    background:url("https://cdn.wallpapersafari.com/43/12/Vh8dFx.jpg");
    background-size:cover;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgba(2, 116, 78,0.8);
    
}
p{
    text-align: center;
    width:100%;
}
a{
    text-decoration: none;
}
table, th, td{
    color:rgb(2, 116, 78);
    font-weight: 900;
    border:solid 2px rgb(70, 70, 70);
}
table{
    margin: 20px auto;
    width:100%;
}

input{
    display:block;
    border: solid 1px grey;
    margin:0 auto;
    background-color: rgb(74, 74, 78);
    
}

.App{
    padding:20px;
    margin: 50px auto;
    width: 300px;
    background-color: rgb(250, 203, 194);
    border-radius: 10px;
    border: solid 5px rgb(2, 116, 78);
    
}
.tip{
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    background-color: rgb(250, 203, 194);
    color:rgb(2, 116, 78);
    border-radius: 10px;
    font-size: 12px;
}

.app_noSelected{
    color: rgb(255, 50, 50);
    font-weight: 900;
}

.app_select,button{
    display:block;
    text-align: center;
    color:wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    margin: 0 auto;
    background-color: coral;
    width:80%;
    height:20px;
    border-radius: 5PX;
    outline: none;
    border:none;
}
.app_select:hover,button:hover{
    cursor: pointer;
    background-color: tomato;
}
.app_table-content{
    text-align: right;
    font-weight: 600;
}

#file{
    display:none;
}